section.video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

section.video.background video {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

section.video.background > *:not(main) {
    display: none;
}